.card:hover {
    /* background-color: rgba(128, 128, 128, 0.059); */

    /* box-shadow: 0 1px 15px 0 #fccae6;
    color: #E50087; */

    box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
    color: var(--primary);
    // box-shadow: 0 1px 15px 0 #d6c8f9;
    // color: #802FDE !important;

    /* box-shadow: 0 1px 15px 0 #bdf9ea;
    color: #14B789; */

    /* box-shadow: 0 1px 15px 0 #b5e4f1;
    color: #00AEE5; */
}