.nav-profile {
    height: 35px;
    padding: 5px;
    font-size: 20px;
    // margin-right: 20px;
    transition: all 0.2s;
    margin-top: 15px;

    svg {
        height: 100%;
        width: 100%;
    }
}

.nav-profile:hover {
    border: none;
    background-color: gray;
    border-radius: 100%;
    color: white;
    cursor: pointer;
}