.sidebar{
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;

    .logo-img{
        img{
            height: 100px;
            width: 100px;
            border-radius: 100%;
        }
    }

    .sidebar-nav{
        padding: 0;
        margin: 0;
        list-style: none;

        .nav-item{
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 5px;

            .nav-link{

                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: 600;
                transition: 0.3s;
                padding: 10px 15px;
                border-radius: 4px;
                

                svg{
                    font-size: 16px;
                    margin-right: 10px;
                }

                // .nav-heading{
                //     font-size: 11px;
                //     text-transform: uppercase;
                //     color: #899bbd;
                //     font-weight: 600;
                //     margin: 10px 0px 5px 15px;
                // }

            }
            .nav-link:hover{
                color: #4154f1;
                background-color: #f6f9ff;
            }

            .nav-content{
                list-style: none;

                li{
                    
                    line-height: 0;
                    display: inline-block;

                    span{
                        color: #2d2d2d !important;
                        display: flex;
                        gap: 3px;
                        align-items: center;
                        padding: 10px;
                        text-decoration: none;
                        width: 225px;
                    }
                    span:hover{
                        color: #4154f1 !important;
                        background-color: #f6f9ff;
                    }
                }
                li:hover{
                    color: #4154f1 !important;
                    background-color: #f6f9ff;
                }
                
            }
        }
    }
}

// .sidebar::-webkit-scrollbar{
//     width: 5px;
//     height: 8px;
//     background-color: #fff;
// }
// .sidebar::-webkit-slider-thumb{
//     background-color: #aab7cf;
// }

@media screen and (max-width: 1199px) {
    .sidebar{
        left: -300px;
    }
    .toggle-sidebar{
        .sidebar{
            left: 0;
        }
    }
}

@media screen and (min-width:1200px) {
    .toggle-sidebar{
        .sidebar{
            left: -300px;
        }
    }
}