.home-page-container {
    height: 100vh;

    
    // background-image: url("../../../public/images/bg-warer1.png");
    // background-image: url("https://png.pngtree.com/background/20210710/original/pngtree-flat-business-style-banner-picture-image_1020686.jpg");


    // background-image: url("../../../public/images/bg-warer1.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


    .header-container {
        height: 100px;
        padding: 20px;

        .logo {
            height: 100%;

            .logo-img {
                height: 100%;
            }
        }

    }

    .home-body-container {
        // height: calc(100vh - 100px);
        // border: 1px solid red;
        // border: 1px solid red;

        .home-body {
            background-color: white;
            margin: auto;
            // margin-top: 30px;
            padding: 30px;
            border-radius: 30px;
            box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);


            .login-signup-container {
                display: flex;
                justify-content: center;
                gap: 30px;
                width: 100%;
                // border: 1px solid red;

                .login-card {
                    width: 200px;
                    height: 150px;
                    cursor: pointer;
                    border-radius: 20px;
                    border: 1px solid #EAE8E9;
                    background-color: white;
                }

                .login-card:hover {
                    box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
                    color: #1A9CD0 !important;
                }
            }

            .back-icon {
                padding-inline: 10px;
                display: flex;
                align-items: center;
                height: 40px;

                svg {
                    // height: 100%;
                    // width: 100%;
                }
            }

            .back-icon:hover {
                background-color: gray;
                border-radius: 100%;
                color: white;
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .home-page-container {
        height: 100vh;

        .header-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            // height: 100%;
            text-align: center;

            .logo {
                height: 100%;

                .logo-img {
                    height: 70px;
                }
            }

            .header-nav {}
        }
    }

    .home-body-container {
        .home-body {
            // border: 1px solid red;
            background-color: transparent !important;
            margin-top: 90px !important;
            padding: 25px !important;

            .login-signup-container {
                display: flex;
                gap: 10px;

                .login-card {
                    height: 130px !important;
                }
            }

            .support-p {
                color: white !important;
            }
        }
    }
}